
  
  footer > img{
    width: 200px;
    margin: 0;
  }
  
  .logo {
    display: flex;
  }
  
  .redes {
    display: flex;
  }
  
  .redes > img{
    margin-left: 1rem;
  }
  
  footer > p{
    margin: 0;
    padding-top: 0.7rem;
  }